* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    display: inline-block;
    border: 1px solid black;
    padding: 6px 20px;
    background-color: white;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    min-width: 100px;
}
.image {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}
.image img {
    height: 100%;
    width: auto;
}
.title {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.title img {
    height: 26px;
    width: auto;
}

.content {
    flex-basis: 34%;
    display: flex;
    justify-content: center;
}
.content__count {
    padding: 0 30px;
}

.content__count p {
    font-size: 26px;
}

.content__count span {
    padding-top: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #32E925;
    
}
.content__tipForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.content__tipForm input {
    width: 80%;
    height: 24px;
}


.score {
    flex-basis: 8%;
    display: flex;
    text-transform: uppercase;
    color: white;
    background-color: black;
    align-items: center;
    padding-left: 70px;
    font-size: 18px;
    font-weight: 500;
}

.content__title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.content__subtitle {
    text-align: center;
}
.content__after {
    display: flex;
    flex-direction: column;
    align-items: center;
}